---
import Constants from "../data/constants.json";

import "../styles/styles.css";

import MetaPixelHead from "../components/MetaPixelHead.astro";
import MetaPixelBody from "../components/MetaPixelBody.astro";
import GoogleTagManagerHead from "../components/GoogleTagManagerHead.astro";
import GoogleTagManagerBody from "../components/GoogleTagManagerBody.astro";
import OpenGraph from "../components/OpenGraph.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth" dir="ltr">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href=`${Constants.url}/favicon.png` />
		<meta name="generator" content={Astro.generator} />

		<title>{Constants.title}</title>

		<GoogleTagManagerHead />
		<MetaPixelHead />
		<OpenGraph />

	</head>
	<body>

		<GoogleTagManagerBody />
		<MetaPixelBody />
		
	</body>
</html>